#root {
  margin: 0 auto;
  padding: 0;
  
  font-family: OpenSans;
  -webkit-text-fill-color: #ffffff;
}

.button-container {
  width:100%; 
  text-align:center;
}

.button-container button {
  background-color: #ff911b;
  -webkit-background-color: #ff911b;
}

.container {
  margin: 0 auto;
  padding: 10px;
  
  align-items: center;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/font/opensans/OpenSans-VariableFont.ttf');
}

.my-name {
  font-size: 32px;
}

.header-box { 
  align-items: center;
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
}
.header-box button {
  margin: 8px;
}

.header-pic {
  flex: 1 1 auto;

  text-align: center;
  align-content: stretch;
}

.header-summary {
  flex: 1 1 auto;
  
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
}

.summary-box {
  width: 100%;

  background-color: rgba(2, 0, 36, 0.1);
  margin-bottom:20px;
}

.summary-box button {
  margin: 14px;
}

.summary-box p {
  padding: 14px;
}

.projects-box {
  background-color: rgba(2, 0, 36, 0.1);
  margin-bottom:20px;

  width: 100%;
}

.projects-box h2 {
  filter: drop-shadow(2px 2px 1px #222);
  margin-top: 0;
  padding: 14px;
}

.about-me {
  background-color: rgba(2, 0, 36, 0.1);
  margin-bottom:20px;

  width: 100%;
}

.about-me p {
  padding-left: 14px;
  padding-right: 14px;
}

.about-me h2 {
  filter: drop-shadow(2px 2px 1px #222);

  margin-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5em #ddfff1f3);
}
.logo.react:hover {
  filter: drop-shadow(0 0 0.5em #ffffffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
